body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:1977px;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:1977px;
}
#u4033 {
  position:absolute;
  left:2px;
  top:980px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:127px;
}
#u4038 {
  position:absolute;
  left:123px;
  top:297px;
  width:800px;
  height:127px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:56px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:63px;
}
#u4040 {
  position:absolute;
  left:794px;
  top:319px;
  width:57px;
  height:63px;
}
#u4041 {
  position:absolute;
  left:2px;
  top:24px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:62px;
}
#u4042 {
  position:absolute;
  left:393px;
  top:317px;
  width:78px;
  height:62px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:23px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4044 {
  position:absolute;
  left:215px;
  top:394px;
  width:57px;
  height:16px;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  position:absolute;
  left:404px;
  top:394px;
  width:57px;
  height:16px;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:794px;
  top:394px;
  width:57px;
  height:16px;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:65px;
}
#u4050 {
  position:absolute;
  left:198px;
  top:317px;
  width:83px;
  height:65px;
}
#u4051 {
  position:absolute;
  left:2px;
  top:24px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4052 {
  position:absolute;
  left:607px;
  top:319px;
  width:60px;
  height:60px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4054 {
  position:absolute;
  left:612px;
  top:394px;
  width:57px;
  height:16px;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4056 {
  position:absolute;
  left:124px;
  top:519px;
  width:807px;
  height:1053px;
  overflow:hidden;
}
#u4056_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:1053px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4056_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4057 {
  position:absolute;
  left:662px;
  top:463px;
  width:30px;
  height:30px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  position:absolute;
  left:13px;
  top:563px;
  width:43px;
  height:16px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:22px;
  top:400px;
  width:702px;
  height:71px;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4063 {
  position:absolute;
  left:7px;
  top:0px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4065 {
  position:absolute;
  left:13px;
  top:527px;
  width:71px;
  height:16px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u4067 {
  position:absolute;
  left:84px;
  top:527px;
  width:29px;
  height:16px;
  color:#FF0033;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4069 {
  position:absolute;
  left:150px;
  top:527px;
  width:43px;
  height:16px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u4071 {
  position:absolute;
  left:211px;
  top:527px;
  width:43px;
  height:16px;
  color:#FF0033;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u4073 {
  position:absolute;
  left:-7px;
  top:503px;
  width:299px;
  height:1px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4075 {
  position:absolute;
  left:44px;
  top:723px;
  width:126px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4077 {
  position:absolute;
  left:13px;
  top:785px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4079 {
  position:absolute;
  left:249px;
  top:723px;
  width:130px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4081 {
  position:absolute;
  left:456px;
  top:722px;
  width:95px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4083 {
  position:absolute;
  left:8px;
  top:477px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4085 {
  position:absolute;
  left:108px;
  top:780px;
  width:62px;
  height:25px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4087 {
  position:absolute;
  left:13px;
  top:914px;
  width:43px;
  height:16px;
}
#u4088 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  position:absolute;
  left:13px;
  top:880px;
  width:71px;
  height:16px;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u4091 {
  position:absolute;
  left:84px;
  top:880px;
  width:29px;
  height:16px;
  color:#FF0033;
}
#u4092 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4093 {
  position:absolute;
  left:150px;
  top:880px;
  width:43px;
  height:16px;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u4095 {
  position:absolute;
  left:211px;
  top:880px;
  width:43px;
  height:16px;
  color:#FF0033;
}
#u4096 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:2px;
}
#u4097 {
  position:absolute;
  left:13px;
  top:860px;
  width:441px;
  height:1px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:371px;
}
#u4099 {
  position:absolute;
  left:74px;
  top:19px;
  width:626px;
  height:371px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:178px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:111px;
}
#u4101 {
  position:absolute;
  left:23px;
  top:602px;
  width:177px;
  height:111px;
}
#u4102 {
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:111px;
}
#u4103 {
  position:absolute;
  left:220px;
  top:602px;
  width:177px;
  height:111px;
}
#u4104 {
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4105 {
  position:absolute;
  left:219px;
  top:786px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4107 {
  position:absolute;
  left:341px;
  top:780px;
  width:56px;
  height:25px;
}
#u4108 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:111px;
}
#u4109 {
  position:absolute;
  left:415px;
  top:602px;
  width:177px;
  height:111px;
}
#u4110 {
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4111 {
  position:absolute;
  left:425px;
  top:785px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4113 {
  position:absolute;
  left:530px;
  top:780px;
  width:62px;
  height:25px;
}
#u4114 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4115 {
  position:absolute;
  left:53px;
  top:1074px;
  width:126px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4117 {
  position:absolute;
  left:22px;
  top:1136px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4119 {
  position:absolute;
  left:258px;
  top:1074px;
  width:130px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u4121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4121 {
  position:absolute;
  left:465px;
  top:1073px;
  width:95px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4122 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4123 {
  position:absolute;
  left:117px;
  top:1131px;
  width:62px;
  height:25px;
}
#u4124 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:111px;
}
#u4125 {
  position:absolute;
  left:32px;
  top:953px;
  width:177px;
  height:111px;
}
#u4126 {
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:111px;
}
#u4127 {
  position:absolute;
  left:229px;
  top:953px;
  width:177px;
  height:111px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4129 {
  position:absolute;
  left:228px;
  top:1137px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4130 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  position:absolute;
  left:350px;
  top:1131px;
  width:56px;
  height:25px;
}
#u4132 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u4133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:111px;
}
#u4133 {
  position:absolute;
  left:424px;
  top:953px;
  width:177px;
  height:111px;
}
#u4134 {
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4135 {
  position:absolute;
  left:434px;
  top:1136px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:539px;
  top:1131px;
  width:62px;
  height:25px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u4139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
}
#u4139 {
  position:absolute;
  left:137px;
  top:443px;
  width:32px;
  height:50px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:17px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
