{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/webuploader/webuploader.js?v={$v}" type="text/javascript" ></script>
<script src="__STATIC__/plugins//kindeditor/kindeditor.js?v={$v}" type="text/javascript" ></script>
<script src="__ADMIN__/logstafflogins/logstafflogins.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/aditem/aditem.js?v={$v}" type="text/javascript"></script>
<script>
$(function () {
  initCombo();
  {if condition="$object['it_id'] !=0 "}
     MBIS.setValues({$object});
  {/if}
  $('#departmentForm').validator({
      fields: {
        name: {
          tip: "请输入名称",
          rule: '学杂费名称:required;'
        },
        price: {
          tip: "请输入标准价格",
          rule: '标准价格:required;'
        },
        offers_price: {
          tip: "请输入可优惠价格",
          rule: '可优惠价格:required;'
        },
      },
      valid: function(form){
        var it_id = $('#it_id').val();
        toEdits(it_id);
      }
  })
});
</script>
{/block}
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
{block name="main"}
  <div class="l-loading" style="display: block" id="wst-loading"></div>
  <form id='departmentForm' autocomplete="off">
    <input type='hidden' id='it_id' name="it_id" value='{$object["it_id"]}'/>
    <table class='wst-form wst-box-top'>
      <tr>
         <th width='150'>名称<font color='red'>*</font>：</th>
         <td><input type="text" id='name' name='name' style='width:300px;' class='ipt'/></td>
      </tr>
      <tr>
         <th width='150'>标准价格<font color='red'>*</font>：</th>
         <td><input type="text" id='price' name='price' style='width:300px;' class='ipt'/></td>
      </tr>
      <tr>
         <th width='150'>可优惠价格<font color='red'>*</font>：</th>
         <td><input type="text" id='offers_price' name='offers_price' style='width:300px;' class='ipt'/></td>
      </tr>
      <tr>
        <th width='150'>杂费类型<font color='red'>*</font>：</th>
         <td>
         <select id="teaching_type" name="teaching_type" class="ipt">
            <option {if condition="$object.teaching_type" eq 1} selected value="1">学杂</option>
            <option {if condition="$object.teaching_type" eq 2} selected value="2">服务</option>
            <option {if condition="$object.teaching_type" eq 3} selected value="3">教材</option>
         </select>
         </td>
      </tr>
      <tr>
        <th width='150'>是否上架<font color='red'>*</font>：</th>
         <td>
         <select id="is_shelves" name="is_shelves" class="ipt">
            <option {if condition="$object.is_shelves" eq 2} selected value="2">待上架</option>
            <option {if condition="$object.is_shelves" eq 1} selected value="1">已上架</option>
            <option {if condition="$object.is_shelves" eq 0} selected value="0">已下架</option>
         </select>
         </td>
      </tr>
      <tr>
         <th width='150'>杂费简介<font color='red'>*</font>：</th>
         <td><textarea id='des' name='des' style='width:300px;' class='ipt'></textarea></td>
      </tr>
      <tr>
         <th width='150'>杂费详情<font color='red'>*</font>：</th>
         <td><textarea id='details' name='details' style='width:300px;' class='ipt'></textarea></td>
      </tr>
         <tr>
           <td colspan='2' align='center'>
               <button type="submit" class="btn btn-blue">保&nbsp;存</button>
               <button type="button" class="btn" onclick="javascript:history.go(-1)">返&nbsp;回</button>
           </td>
         </tr>
    </table>
  </form>
{/block}