{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/webuploader/webuploader.js?v={$v}" type="text/javascript" ></script>
<script src="__STATIC__/plugins//kindeditor/kindeditor.js?v={$v}" type="text/javascript" ></script>
<script src="__ADMIN__/businesscenter/businesscenter.js?v={$v}" type="text/javascript"></script>
<script>
$(function () {
  initCombo();
  {if condition="$object['business_center_id'] !=0 "}
     MBIS.setValues({$object});
  {/if}
  $('#departmentForm').validator({
      fields: {
        name: {
          tip: "请输入业务中心名称",
          rule: '业务中心名称:required;'
        },
      },
      valid: function(form){
        var business_center_id = $('#business_center_id').val();
        toEdits(business_center_id);
      }
  })
});
</script>
{/block}
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
{block name="main"}
  <div class="l-loading" style="display: block" id="wst-loading"></div>
  <form id='departmentForm' autocomplete="off">
    <input type='hidden' id='business_center_id' name="business_center_id" value='{$object["business_center_id"]}'/>
    <table class='wst-form wst-box-top'>
      <tr>
         <th width='150'>业务中心(校区)名称<font color='red'>*</font>：</th>
         <td><input type="text" id='name' name='name' style='width:300px;' class='ipt'/></td>
      </tr>
         <tr>
           <td colspan='2' align='center'>
               <button type="submit" class="btn btn-blue">保&nbsp;存</button>
               <button type="button" class="btn" onclick="javascript:history.go(-1)">返&nbsp;回</button>
           </td>
         </tr>
    </table>
  </form>
{/block}