body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u423 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424 {
  position:absolute;
  left:32px;
  top:153px;
  width:227px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u425 {
  position:absolute;
  left:263px;
  top:154px;
  width:220px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u426 {
  position:absolute;
  left:13px;
  top:15px;
  width:50px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u427 {
  position:absolute;
  left:606px;
  top:284px;
  width:186px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
