body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:1977px;
}
#u9870 {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:1977px;
}
#u9871 {
  position:absolute;
  left:2px;
  top:980px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9876 {
  position:absolute;
  left:415px;
  top:904px;
  width:50px;
  height:50px;
}
#u9877 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u9878 {
  position:absolute;
  left:494px;
  top:916px;
  width:277px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u9879 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u9880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:353px;
}
#u9880 {
  position:absolute;
  left:384px;
  top:461px;
  width:470px;
  height:353px;
}
#u9881 {
  position:absolute;
  left:2px;
  top:168px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u9882 {
  position:absolute;
  left:167px;
  top:324px;
  width:29px;
  height:50px;
}
#u9883 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
