{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/sjexams/menu.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<script>
  $(function(){
	  Initialize ('{$arrExamsStatus}');
  initGrid(0);
  });
</script>
<style>
.date-s{width:100%;float:left;}
.l-text-wrapper{width:168px;float:left;}
.tbr-h{height:30px;line-height:30px;}
.search-s{width:100%;height:30px;float:left;}
.search-i{width:100%;height:30px;float:left;}
#query{width:100%;}
#export{text-decoration:none;color:#ffffff;}
</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar nextTable">
    <form id="exportForm" action="{:url('admin/users/expUsersU')}" method="get" autocomplete="off">
    <div class='date-s'>

      报考学院:<select id="school_id" name="school_id" onchange="checkSchool()" style="width:165px;" class="query">
                {volist name="arrSchool" id="vo"}
                  <option value="{$vo.school_id}">{$vo.name}</option>
                {/volist}
              </select>
      报考专业:<select id="major_id" name="major_id" onchange="checkMajor()" style="width:165px;" class="query">
                {volist name="arrMajor" id="vo"}
                  <option value="{$vo.major_id}">{$vo.name}</option>
                {/volist}
         </select>
     专业层次:<select id="level_id" name="level_id" style="width:165px;" class="query">
                {volist name="arrMajorLevel" id="vo"}
                  <option value="{$key}">{$vo}</option>
                {/volist}s
          </select>
    </div>  
    
    <!-- <div>
              年级:<select id="grade_id" name="grade_id" style="width:165px;" class="query">
                <option value=''>全部</option>
                {volist name="arrGrade" id="vo"}
                  <option value="{$vo.grade_id}">{$vo.name}</option>
                {/volist}
             </select>           
              科目:<select id="subject_id" name="subject_id" style="width:165px;" class="query">
                <option value=''>全部</option>
           </select>
    </div> -->
    <div id="query" style="float:left;">
        搜索查询:<select id="search_title" name="search_title" class="query">
                  <option value="">全部</option>  
                  <option value="1">学员编号</option>  
                  <option value="2">学员名称</option>  
                  <option value="3">准考证号</option>  
                  <option value="4">身份证号</option>  
                </select>
                <input type="text" id="search_word" name="search_word" class="query">
	    <input type="button" class="btn btn-blue" onclick="javascript:initGrid(0)" value="查询">
        <input type="button" class="btn btn-blue" onclick="javascript:sendSms()" value="发送通知">
        <input type="button" class="btn btn-blue" onclick="javascript:dataAnalysis()" value="成绩数据分析">
        <input class="btn btn-blue daochu1" type="button" value="导出">
         </div>
    </form>
   
    
     <form id="target1" style="display:none;">
      <div>
         <table >
	            {volist name="arrSubject" id="vo"}
	            <tr>
	            
	              <td style="">
	                <span>{$vo['name']}</span>
                    <input type="hidden" name="arrSubject[{$key+1}][subject_id]" value="{$vo['subject_id']}">
                  </td>
                  
                  <td>
                  	 <input type="hidden" value="{$vo['exam_method']}" id="exam_method" name="arrSubject[{$key+1}][exam_method]" class="query"/>
                     {if condition="$vo['exam_method'] ==1"}
                         <span>理论课分数：</span>
                         <select id="ys" name="arrSubject[{$key+1}][ys]" class="query">
			                    <option value="=">等于</option>
			                    <option value=">">大于</option>
			                    <option value="<">小于</option>  
			             </select>
			             <input type="text" value="60" id="subject_score" name="arrSubject[{$key+1}][subject_score]" class="query"/>
                         <span>分</span>
                     {else/}
	                  <span>实践课成绩状态：</span>
			          <select id="exam_status" name="arrSubject[{$key+1}][exam_status]" class="query">
			            {volist name="arrOneExamsStatus" id="v"}
			            <option value="{$key}">{$v}</option>  
			            {/volist}  
			          </select>
			          {/if}
		          </td>
	            </tr>
                {/volist} 
          </table>
      </div> 
      <div>
         <input class="btn btn-blue daochu" type="button" value="导出">
      </div>        
    </form>
    
    <form action="{:url('admin/sjexams/add')}" enctype="multipart/form-data" method="post">
        <input type="submit" class="btn btn-blue f-right"  value="上传">
        <input type="file" name="exel"class="f-right">
    </form>

    <div style="clear:both"></div>
    <!--<iframe src="about:blank" name="hiddenIframe" class="hide" style="display:none;"></iframe>-->
</div>
<div id="maingrid"></div>
<div id="import"></div>
<div id="add"><a></a></div>


<!--  <div id="target1" style="width:800px; margin:3px; display:none;">
 3333333
</div> -->
{/block}