body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u406 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u407 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408 {
  position:absolute;
  left:19px;
  top:17px;
  width:46px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u409 {
  position:absolute;
  left:32px;
  top:153px;
  width:227px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410 {
  position:absolute;
  left:263px;
  top:154px;
  width:220px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u411 {
  position:absolute;
  left:517px;
  top:241px;
  width:177px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
