body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:1977px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:1977px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:980px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:127px;
}
#u3969 {
  position:absolute;
  left:123px;
  top:297px;
  width:800px;
  height:127px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:56px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:63px;
}
#u3971 {
  position:absolute;
  left:794px;
  top:319px;
  width:57px;
  height:63px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:24px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:62px;
}
#u3973 {
  position:absolute;
  left:393px;
  top:317px;
  width:78px;
  height:62px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:23px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  position:absolute;
  left:215px;
  top:394px;
  width:57px;
  height:16px;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:404px;
  top:394px;
  width:57px;
  height:16px;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3979 {
  position:absolute;
  left:794px;
  top:394px;
  width:57px;
  height:16px;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:65px;
}
#u3981 {
  position:absolute;
  left:198px;
  top:317px;
  width:83px;
  height:65px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:24px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3983 {
  position:absolute;
  left:607px;
  top:319px;
  width:60px;
  height:60px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  position:absolute;
  left:612px;
  top:394px;
  width:57px;
  height:16px;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3987 {
  position:absolute;
  left:221px;
  top:440px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u3989 {
  position:absolute;
  left:125px;
  top:483px;
  width:580px;
  height:1px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:125px;
  top:494px;
  width:29px;
  height:16px;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  position:absolute;
  left:184px;
  top:494px;
  width:43px;
  height:16px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u3995 {
  position:absolute;
  left:245px;
  top:494px;
  width:43px;
  height:16px;
  color:#FF0033;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:298px;
  top:494px;
  width:43px;
  height:16px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:351px;
  top:494px;
  width:43px;
  height:16px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  position:absolute;
  left:404px;
  top:494px;
  width:57px;
  height:16px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4003 {
  position:absolute;
  left:184px;
  top:535px;
  width:71px;
  height:16px;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u4005 {
  position:absolute;
  left:255px;
  top:535px;
  width:29px;
  height:16px;
  color:#FF0033;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:317px;
  top:535px;
  width:29px;
  height:16px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:388px;
  top:535px;
  width:29px;
  height:16px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4011 {
  position:absolute;
  left:753px;
  top:889px;
  width:57px;
  height:18px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u4013 {
  position:absolute;
  left:130px;
  top:595px;
  width:163px;
  height:163px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4015 {
  position:absolute;
  left:157px;
  top:780px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:162px;
}
#u4017 {
  position:absolute;
  left:315px;
  top:595px;
  width:162px;
  height:162px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:73px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:167px;
}
#u4019 {
  position:absolute;
  left:501px;
  top:595px;
  width:159px;
  height:167px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:76px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4021 {
  position:absolute;
  left:360px;
  top:780px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4023 {
  position:absolute;
  left:526px;
  top:780px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:167px;
}
#u4025 {
  position:absolute;
  left:693px;
  top:593px;
  width:159px;
  height:167px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:76px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4027 {
  position:absolute;
  left:718px;
  top:778px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
}
#u4029 {
  position:absolute;
  left:130px;
  top:434px;
  width:32px;
  height:50px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:17px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
