{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/subjectedu/subjectedu.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){initGrid({$type_id});})
</script>
{/block}
{block name="main"}
<style>
.date-s{width:100%;float:left;}
.l-text-wrapper{width:168px;float:left;}
.tbr-h{height:30px;line-height:30px;}
.search-s{width:100%;height:30px;float:left;}
.search-i{width:100%;height:30px;float:left;}
</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
	   	<div class='search-s'>
	   	
	    	考试方式:<select id="exam_method" style="width:165px;height:26px;" class="query">
	             	<option value=''>全部</option>
	             	<option value='1'>笔试</option>
	             	<option value='2'>实践考核</option>
	            	</select>
	    	考试时间:<select id="exam_time" style="width:165px;height:26px;" class="query">
	              	<option value=''>全部</option>
	              	<option value='1'>1、7</option>
	              	<option value='2'>4、10</option>
	            	</select>
	        类型:<select id="genre" style="width:165px;height:26px;" class="query">
	              	<option value=''>全部</option>
	              	<option value='1'>必考</option>
	              	<option value='2'>选考</option>
	              	<option value='3'>加考</option>
	            	</select>

	        {if MBISGrant('KMCX_01')}
	        <button class="btn btn-green f-right" onclick='javascript:toEdit(0,{$type_id})'>新增</button>
	        {/if}
	  	</div>
	  	<div class='search-i'>
	    	科目名称:<input type='text' placeholder='科目名称' id="name" class="query"/>
	    	科目代码:<input type='text' placeholder='科目代码' id="subject_no" class="query"/>
        	类型序号:<input type='text' placeholder='类型序号' id="type_number" class="query"/>
	        <input type='hidden' value="{$type_id}" id="type_id" class="query">
	    	<button class="btn btn-blue" onclick='javascript:subjectQuery({$type_id})'>查询</button>
	    	<button class="btn btn-blue f-right" onclick="javascript:refresh({$type_id})">刷新</button>
	  	</div>
   <div style='clear:both'></div>
</div>
<div id="maingrid"></div>
{/block}