{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/subject/subject.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){initGrid({$type_id},{$major_id});})
</script>
{/block}
{block name="main"}
<style>
.date-s{width:100%;float:left;}
.l-text-wrapper{width:168px;float:left;}
.tbr-h{height:30px;line-height:30px;}
.search-s{width:100%;height:30px;float:left;}
.search-i{width:100%;height:30px;float:left;}
</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
	{if condition="$type_id eq 2"}
	   	<div class='search-s'>
	    	所属学校:<select id="school_id" onChange="getMajors()" style="width:165px;height:26px;" class="query">
	             	<option value=''>请选择</option>
	             	{volist name="lists_school" id="vo"}
	             	<option value="{$vo.school_id}">{$vo.name}</option>
	             	{/volist}
	            	</select>
	    	所属专业:<select id="major_id" style="width:165px;height:26px;" class="query">
	              	<option value=''>请选择</option>
	              	{volist name="lists_major" id="vo"}
	              	<option value="{$vo.major_id}">{$vo.name}</option>
	              	{/volist}
	            	</select>
	        是否上架:<select id="is_shelves" style="width:165px;height:26px;" class="query">
	              	<option value=''>请选择</option>
	              	{volist name="sel_is_shelves.lists" id="vo"}
        			<option value="{$vo.id}">{$vo.name}</option>
        			{/volist}
	            	</select>
	        {if MBISGrant('KMCX_01')}
	        <button class="btn btn-green f-right" onclick='javascript:toEdit({$type_id},0)'>新增</button>
	        {/if}
	  	</div>
	  	<div class='search-i'>
	    	科目名称:<input type='text' placeholder='科目名称' id="name" class="query"/>
	    	上课方式:<select id="teaching_type" style="width:165px;height:26px;" class="query">
	              	<option value=''>请选择</option>
	              	{volist name="sel_teaching_type.lists" id="vo"}
        			<option value="{$vo.id}">{$vo.name}</option>
        			{/volist}
        			</select>
        	上课老师:<select id="teacher_id" style="width:165px;height:26px;" class="query">
	              	<option value=''>请选择</option>
	              	{volist name="teacher_lists" id="vo"}
        			<option value="{$vo.userId}">{$vo.trueName}</option>
        			{/volist}
        			</select>
	        <input type='hidden' value="{$type_id}" id="type_id" class="query">
	    	<button class="btn btn-blue" onclick='javascript:subjectQuery({$type_id})'>查询</button>
	    	<button class="btn btn-blue f-right" onclick="javascript:refresh({$type_id})">刷新</button>
	  	</div>
	  	
	{else/}
		<input type='hidden' value="{$type_id}" id="type_id" class="query">
		<input type='hidden' value="{$major_id}" id="major_id" class="query">
		<button class="btn f-right" onclick="javascript:history.go(-1)">返回</button>
		{if MBISGrant('XLZY_051')}
		<button class="btn btn-green f-right" onclick='javascript:toEditEduSubject({$type_id},{$school_id},{$major_id})'>新增</button>
		{/if}
	{/if}
   <div style='clear:both'></div>
</div>
<div id="maingrid"></div>
{/block}