body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u182 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:33px;
  top:134px;
  width:139px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u184 {
  position:absolute;
  left:33px;
  top:182px;
  width:139px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u185 {
  position:absolute;
  left:33px;
  top:223px;
  width:139px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u186 {
  position:absolute;
  left:118px;
  top:70px;
  width:61px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u187 {
  position:absolute;
  left:201px;
  top:70px;
  width:62px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u188 {
  position:absolute;
  left:281px;
  top:70px;
  width:75px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
