body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u466 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  position:absolute;
  left:285px;
  top:83px;
  width:225px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u468 {
  position:absolute;
  left:515px;
  top:84px;
  width:225px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
