body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u386 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u387 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:17px;
  top:14px;
  width:55px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u389 {
  position:absolute;
  left:417px;
  top:555px;
  width:191px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
