body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:913px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:913px;
}
#u160 {
  position:absolute;
  left:2px;
  top:448px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:952px;
  top:16px;
  width:72px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
