{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ADMIN__/production/production.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form id="userForm" autocomplete="off" >
<p class="tab-title" id="tabTitle">
</p>
<div class="tab-content" id="tabContent">
<!-- 基本信息 -->
<table class='wst-form wst-box-top'>
         <tr>
            <th>学员姓名<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="真实姓名: required;" id="trueName" name="trueName" />
            </td>
         </tr>
          <tr>
            <th>学员身份证号<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="身份证号: required;" id="idcard_no" name="idcard_no" />
            </td>
         </tr>
         <tr>
            <th>科目名称<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="科目名称: required;" id="subjcet_name" name="subjcet_name" />
            </td>
         </tr>
        <tr>
            <th width='150'><font color='red'></font></th>
          <td width='370'>
          </td>
          <td rowspan="5">
            <div id="preview" >
                <img src="__ROOT__/{:MBISConf('CONF.userLogo')}"  height="150" />
            </div>
            <div id='adFilePicker' style="margin-left:40px;">上传作品</div>
            <input type="hidden" id="userPhoto" name="productions" class="ipt" value="" />
            <span id='uploadMsg'></span>
          </td>
       </tr>
</table>
<!-- 扩展信息 -->
<table class='wst-form wst-box-top' style="display:none;">

</table>
</div>
<table class='wst-form wst-box-top'>
  <tr>
     <td colspan='2' align='center'>
       <input type="submit" value="提交" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
</table>

</form>
<script>
$(function(){
    editInit();
    changeTab('tabTitle','tabContent');
   
});
</script>

{/block}

