body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:659px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:659px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:13px;
  width:70px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:213px;
  top:95px;
  width:471px;
  height:471px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:107px;
  top:162px;
  width:106px;
  height:365px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:814px;
  top:13px;
  width:66px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
