body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:659px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:659px;
}
#u45 {
  position:absolute;
  left:2px;
  top:322px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:130px;
  top:345px;
  width:119px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:262px;
  top:346px;
  width:119px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:398px;
  top:346px;
  width:119px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:542px;
  top:282px;
  width:193px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:0px;
  top:13px;
  width:48px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:832px;
  top:13px;
  width:48px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
