body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:700px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:700px;
}
#u37 {
  position:absolute;
  left:2px;
  top:342px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:130px;
  top:345px;
  width:119px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:256px;
  top:346px;
  width:119px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:383px;
  top:346px;
  width:119px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:547px;
  top:282px;
  width:193px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:0px;
  top:13px;
  width:48px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:832px;
  top:13px;
  width:48px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
