{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ADMIN__/contract/contract.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form id="userForm" autocomplete="off" >
<p class="tab-title" id="tabTitle">
</p>
<div class="tab-content" id="tabContent">
<!-- 基本信息 -->
<table class='wst-form wst-box-top'>
  <tr>
      <th width='150'><font color='red'></font></th>
          <td width='370'>
          </td>
          <td rowspan="5">
            <div id="preview" >
                <img src="/upload/sysconfigs/2016-10/5804800d5841e.png"  height="150" />
            </div>
            <div id='adFilePicker' style="margin-left:40px;">上传公章</div>
            <input type="hidden" id="userPhoto" name="basic[signcompany]" class="ipt" />
            <span id='uploadMsg'></span>

          </td>
       </tr>
       <tr>
          <th>名称<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" data-rule="公章名称: required;" id="trueName" name="basic[name]" />
          </td>
       </tr>
</table>
<!-- 扩展信息 -->
<table class='wst-form wst-box-top' style="display:none;">

</table>
</div>

<table class='wst-form wst-box-top'>
  <tr>
     <td colspan='2' align='center'>
       <input type="hidden" name="basic[userId]" id="userId" class="ipt" value="-1" />
       <input type="submit" value="提交" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
</table>

</form>
<script>
$(function(){
    editInit();
    changeTab('tabTitle','tabContent');
   
});
</script>

{/block}

