body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u363 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364 {
  position:absolute;
  left:30px;
  top:148px;
  width:225px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365 {
  position:absolute;
  left:260px;
  top:151px;
  width:221px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u366 {
  position:absolute;
  left:489px;
  top:150px;
  width:223px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u367 {
  position:absolute;
  left:612px;
  top:269px;
  width:87px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368 {
  position:absolute;
  left:699px;
  top:269px;
  width:99px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369 {
  position:absolute;
  left:798px;
  top:269px;
  width:106px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u370 {
  position:absolute;
  left:23px;
  top:17px;
  width:36px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
