{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/salesruleorder/salesruleorder.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){initGrid();})
</script>
{/block}
{block name="main"}
<style>
.date-s{width:100%;float:left;}
.l-text-wrapper{width:168px;float:left;}
.tbr-h{height:30px;line-height:30px;}
.search-s{width:100%;height:30px;float:left;}
.search-i{width:100%;height:30px;float:left;}
</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
  <div class='date-s'>
  <div class='f-left tbr-h'>起始时间:</div>
    <input type="text" id="start" name="start" style="margin:0px;vertical-align:baseline;" maxLength="20" class="query"/>
  <div class='f-left tbr-m'>至</div>
    <input type="text" id="end" name="end" style="margin:0px;vertical-align:baseline;" maxLength="20" class="query"/>
  {if MBISGrant('YHLB_01')}
  <button class="btn btn-green f-right" onclick='javascript:toEdit(0)'>新增</button>
  {/if}
  </div>
  <div class='search-s'>
    规则类型:<select id="rule_type" style="width:165px;height:26px;" class="query">
              <option value=''>请选择</option>
              <option value='1'>学历类</option>
              <option value='2'>非学历类</option>
              <option value='1,2'>学历类,非学历类</option>
            </select>
    适用范围:<select id="rule_use" style="width:165px;height:26px;" class="query">
              <option value=''>请选择</option>
              <option value='1'>下单</option>
              <option value='2'>补费</option>
              <option value='1,2'>下单,补费</option>
            </select>
    启用状态:<select id="status" style="width:165px;height:26px;" class="query">
              <option value=''>请选择</option>
              <option value='1'>是</option>
              <option value='0'>否</option>
            </select>
  </div>
  <div class='search-i'>
    规则名称:<input type='text' placeholder='规则名称' id="name" class="query"/>
    <button class="btn btn-blue" onclick='javascript:ruleQuery()'>查询</button>
    <button class="btn btn-blue f-right" onclick="javascript:refresh()">刷新</button>
  </div>
  <div style='clear:both'></div>
</div>
<div id="maingrid"></div>
{/block}