{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ADMIN__/users/usersu.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){
    editInit({$type_id});
    changeTab('tabTitle','tabContent');
    {if condition="$data['userId'] !=0 "}
     MBIS.setValues({$data|json_encode});
  {/if}
});
</script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form id="userForm" autocomplete="off" >
<p class="tab-title" id="tabTitle">
<a href="javascript:;" class="hover">基本信息</a> | 
<a href="javascript:;">扩展信息</a>
<!--<a href="javascript:;">学历类报名信息</a> | 
<a href="javascript:;">技能类报名信息</a>-->
</p>
<div class="tab-content" id="tabContent">
  <!-- 基本信息 -->
  <table class='wst-form wst-box-top'>
    <tr>
        <th width='150'>用户账号<font color='red'>*</font>：</th>
            <td width='370'>
              {if ($data['userId']>0)}
                {$data['loginName']}
              {else /}
                <input type="text" class="ipt" id="loginName" name="basic[loginName]"  />
              {/if}
                
            </td>
            <td rowspan="5">
              <div id="preview" >
                  <img src="__ROOT__/{if $data['userPhoto']==''}{:MBISConf('CONF.userLogo')}{else}{$data['userPhoto']}{/if}"  height="150" />
              </div>
              <div id='adFilePicker' style="margin-left:40px;">上传头像</div>
              <input type="hidden" id="userPhoto" name="basic[userPhoto]" class="ipt" />
              <span id='uploadMsg'></span>

            </td>
         </tr>
         {if ((int)$data['userId']==0)}
           <tr>
              <th>密码<font color='red'>*</font>：</th>
              <td><input type="password" id='loginPwd' name="basic[loginPwd]" class='ipt' maxLength='20' value='' data-rule="登录密码: required;length[6~20]" data-target="#msg_loginPwd"/>
                 <span id='msg_loginPwd'></span>
               </td>
           </tr>
         {/if}
         <tr>
            <th>真实姓名<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="真实姓名: required;" id="trueName" name="basic[trueName]" />
            </td>
         </tr>
         <tr>
            <th>昵称<font color='red'></font>：</th>
            <td>
                <input type="text" class="ipt" id="nickName" name="basic[nickName]" />
            </td>
         </tr>
         <tr>
            <th>生日<font color='red'></font>：</th>
            <td>
                <input type="text" class="ipt" id="brithday" name="basic[brithday]" style="margin:0px;vertical-align:baseline;" maxLength="20" />
            </td>
         </tr>
         <tr>
            <th>性别<font color='red'></font>：</th>
            <td>
              <label><input type="radio" class="ipt" id="userSex" name="basic[userSex]" <?=($data['userSex']==1)?'checked':'';?> value="1" />男</label>
              <label><input type="radio" class="ipt" id="userSex" name="basic[userSex]" <?=($data['userSex']==2)?'checked':'';?> value="2" />女</label>
              <label><input type="radio" class="ipt" id="userSex" name="basic[userSex]" <?=($data['userSex']==0)?'checked':'';?> value="0" />保密</label>
            </td>
         </tr>
         <tr>
            <th>手机号码<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="手机号码: required;" id="userPhone" name="basic[userPhone]" />
            </td>
         </tr>
         <tr>
            <th>电子邮箱<font color='red'></font>：</th>
            <td>
                <input type="text" class="ipt" id="userEmail" name="basic[userEmail]" />
            </td>
         </tr>
         <tr>
            <th>QQ<font color='red'></font>：</th>
            <td>
                <input type="text" class="ipt" id="userQQ" name="basic[userQQ]" />
            </td>
         </tr>
         <tr>
            <th>会员等级<font color='red'></font>：</th>
            <td>
              <select class="ipt" id="rankId" name="basic[rankId]">
              {volist name="ranklist" id="vo"}
              <option value="{$vo.rankId}">{$vo.rankName}</option>
              {/volist}
              </select>
            </td>
         </tr>
         <tr>
            <th>学员身份：</th>
            <td>
                <select class="ipt" id="uidType" name="basic[uidType]">
                  <option value="1">新生</option>
                  <option value="2">在学生</option>
                  <option value="3">会员</option>
                </select>
            </td>
         </tr>
         {if condition="$type_id eq 1"}
         <tr>
            <th>学员类型：</th>
            <td>
                <select class="ipt" id="student_type" name="basic[student_type]">
                  <option value="2">学历</option>
                  <option value="3">技能学历</option>
                </select>
            </td>
         </tr>
         {/if}
         {if condition="$type_id eq 2"}
         <tr>
            <th>学员类型：</th>
            <td>
                <select class="ipt" id="student_type" name="basic[student_type]">
                  <option value="1">技能</option>
                  <option value="3">技能学历</option>
                </select>
            </td>
         </tr>
         {/if}
         <tr>
            <th>学习状态：</th>
            <td>
                <select class="ipt" id="study_status" name="basic[study_status]">
                  <option value="1">在读</option>
                  <option value="2">毕业</option>
                  <option value="3">过期</option>
                  <option value="4">弃学</option>
                  <option value="5">休学</option>
                  <option value="6">退学</option>
                  <option value="7">其他</option>
                </select>
            </td>
         </tr>
         <tr>
            <th>身份证号<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="身份证号: required;" id="idcard" name="basic[idcard]" />
            </td>
         </tr>
         <tr>
            <th>学员编号<font color='red'>*</font>：</th>
            <td>
                <input type="text" class="ipt" data-rule="学员编号: required;" id="student_no" name="basic[student_no]" />
            </td>
         </tr>
         <tr>
            <th>预报名编号：</th>
            <td>
                <input type="text" class="ipt" id="pre_entry_no" name="basic[pre_entry_no]" />
            </td>
         </tr>
         {if ((int)$data['userId']==0)}
           <tr>
              <th>会员状态<font color='red'></font>：</th>
              <td>
                  <label><input type="radio" class="ipt" id="userStatus" name="basic[userStatus]" <?=($data['userStatus']!==0)?'checked':'';?> value="1" />启用</label>
                  <label><input type="radio" class="ipt" id="userStatus" name="basic[userStatus]" <?=($data['userStatus']===0)?'checked':'';?> value="0" />停用</label>
              </td>
           </tr>
         {/if}
  </table>
  <!-- 扩展信息 -->
  <table class='wst-form wst-box-top' style="display:none;">
     <tr>
        <th>学习形式：</th>
        <td>
            <select class="ipt" id="study_type" name="extend[study_type]">
              <option value="1">成考</option>
              <option value="2">华师大</option>
              <option value="3">深大</option>
              <option value="4">网教</option>
            </select>
        </td>
     </tr>
     <tr>
        <th>付费类型：</th>
        <td>
            <select class="ipt" id="student_pay_type" name="extend[student_pay_type]">
              <option value="0">未付费学员</option>
              <option value="1">全额学员</option>
              <option value="2">分期学员</option>
              <option value="3">定金学员</option>
            </select>
        </td>
     </tr>
     <tr>
        <th>省份：</th>
        <td>
            <input type="text" class="ipt" id="province" name="extend[province]"  />
        </td>
     </tr>
     <tr>
        <th>城市：</th>
        <td>
            <input type="text" class="ipt" id="city" name="extend[city]"  />
        </td>
     </tr>
     <tr>
        <th>详细地址<font color='red'></font>：</th>
        <td>
            <input type="text" class="ipt"  id="address" name="extend[address]"  />
        </td>
     </tr>
     <tr>
        <th>工作单位：</th>
        <td>
            <input type="text" class="ipt" id="company" name="extend[company]"  />
        </td>
     </tr>
     <tr>
        <th>职务：</th>
        <td><input type="text" class="ipt" id="job_content" name="extend[job_content]" /></td>
     </tr>
     <tr>
        <th>联系电话2：</th>
        <td>
            <input type="text" class="ipt" id="mobile2" name="extend[mobile2]"  />
        </td>
     </tr>
     <tr>
        <th>社保卡号：</th>
        <td>
            <input type="text" class="ipt" id="social_no" name="extend[social_no]"  />
        </td>
     </tr>
     <tr>
        <th>紧急联系人<font color='red'></font>：</th>
        <td>
            <input type="text" class="ipt"  id="urgency_contact" name="extend[urgency_contact]" />
        </td>
     </tr>
     <tr>
        <th>紧急联系电话<font color='red'></font>：</th>
        <td>
            <input type="text" class="ipt" id="urgency_contact_mobile" name="extend[urgency_contact_mobile]" />
        </td>
     </tr>
     <tr>
        <th>客户来源：</th>
        <td>
            <input type="text" class="ipt" id="customer_source" name="extend[customer_source]" />
        </td>
     </tr>
     <tr>
        <th>行业：</th>
        <td>
            <input type="text" class="ipt" id="industry" name="extend[industry]" />
        </td>
     </tr>
     <tr>
        <th>薪水：</th>
        <td>
            <input type="text" class="ipt" id="salary" name="extend[salary]" />
        </td>
     </tr>
     <tr>
        <th>备注：</th>
        <td>
            <textarea class="ipt" id="remark" name="extend[remark]">{$data['remark']}</textarea>  
        </td>
     </tr>
  </table>
</div>

<table class='wst-form wst-box-top'>
  <tr>
     <td colspan='2' align='center'>
       <input type="hidden" name="basic[userId]" id="userId" class="ipt" value="<?=(int)$data['userId']?>" />
       <input type="submit" value="提交" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
</table>
</form>
{/block}

