body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1023px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u391 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392 {
  position:absolute;
  left:1px;
  top:48px;
  width:187px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u393 {
  position:absolute;
  left:0px;
  top:102px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u394 {
  position:absolute;
  left:-1px;
  top:154px;
  width:189px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u395 {
  position:absolute;
  left:0px;
  top:213px;
  width:188px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396 {
  position:absolute;
  left:0px;
  top:268px;
  width:188px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u397 {
  position:absolute;
  left:15px;
  top:16px;
  width:49px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
