body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1299px;
}
#u42 {
  position:absolute;
  left:0px;
  top:1px;
  width:1024px;
  height:1299px;
}
#u43 {
  position:absolute;
  left:2px;
  top:642px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:98px;
  top:60px;
  width:141px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:261px;
  top:20px;
  width:35px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:31px;
  top:164px;
  width:230px;
  height:164px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:31px;
  top:752px;
  width:230px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:31px;
  top:20px;
  width:27px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:271px;
  top:60px;
  width:138px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:442px;
  top:60px;
  width:140px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:616px;
  top:60px;
  width:137px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:787px;
  top:60px;
  width:139px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:173px;
  top:358px;
  width:77px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:173px;
  top:944px;
  width:77px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
