body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:867px;
}
#u66 {
  position:absolute;
  left:0px;
  top:-1px;
  width:880px;
  height:867px;
}
#u67 {
  position:absolute;
  left:2px;
  top:426px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:14px;
  width:43px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:818px;
  top:14px;
  width:62px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:539px;
  top:282px;
  width:193px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
