body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u119 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:443px;
  top:140px;
  width:143px;
  height:122px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  position:absolute;
  left:93px;
  top:140px;
  width:125px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
