body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:767px;
}
#u332 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:269px;
  top:23px;
  width:47px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u334 {
  position:absolute;
  left:30px;
  top:148px;
  width:225px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u335 {
  position:absolute;
  left:260px;
  top:150px;
  width:221px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u336 {
  position:absolute;
  left:489px;
  top:150px;
  width:223px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u337 {
  position:absolute;
  left:23px;
  top:17px;
  width:36px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u338 {
  position:absolute;
  left:612px;
  top:269px;
  width:87px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u339 {
  position:absolute;
  left:699px;
  top:269px;
  width:99px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u340 {
  position:absolute;
  left:798px;
  top:269px;
  width:106px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
